[mysqld]
net_write_timeout = 600
net_read_timeout = 600
thread_cache_size = 32
query_cache_size = 64M
query_cache_limit = 2M
join_buffer_size = 8M
tmp_table_size = 256M
max_allowed_packet = 128M
max_heap_table_size = 256M
read_buffer_size = 2M
read_rnd_buffer_size = 16M



